[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
django = "*"
djangorestframework = "*"
python-decouple = "*"
django-cors-headers = "*"
dj-database-url = "*"
pyjwt = "*"

[requires]
python_version = "3.7"
